@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#top {
  color: white;
}

#space {
  padding: 10px;
}
.card {
  border-style: solid;
  border-width: 2px;
  background-color: rgba(255, 255, 0, 0.457);
  text-align: center;
  transition: background-color 5s;
}

.card:hover {
  background-color: rgba(255, 255, 0, 0.967);
}
.wrapper {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-gap: 50px 10px;
}
hr {
  border: 2px solid rgb(249, 70, 5);
  margin-top: -3px;
}
header {
  height: 30px;
  padding: 20px 10px;
  background-color: coral;
}

footer {
  background-color: rgb(49, 154, 229);
}

main {
  margin-left: 2em;
  margin-bottom: 10em;
}

h1 {
  color: #126106;
}
h2 {
  /* margin-top: 2em; */
  background-color: #8bf6e892;
  padding: 0.5em;
  /* margin-bottom: 2em; */
}

body {
  background-color: #8bf6e836;
  padding: 2em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

img {
  border-radius: 50%;
  /* filter: drop-shadow(0 0 0.75rem coral); */
  filter: drop-shadow(10px 10px 6px coral);
}

table {
  /* background-color: #777777; */
  width: 50%;
}
thead {
  background-color: #fee5406a;
}

th,
td {
  padding: 10px;
  border: 1px solid #666666;
}

tr:nth-child(even) {
  background-color: #5d9da36a;
}
.centerimg {
  margin-left: 10px;
}
figure {
  margin-left: 0em;
}

figcaption {
  color: #666666;
  text-align: right;
}
a {
  text-decoration: none;
  transition: background-color 2s;
}

a:active {
  color: rgb(0, 0, 0);
}
a:visited {
  color: #010101b0;
}

a:hover {
  color: rgb(4, 91, 91);
  /* background-color: #fee540; */
}

footer {
  height: 20px;
  padding: 5px 15px;
  /* margin-top: 2em; */
  font-size: 12px;
  color: #ffffff;
}
